.container {
    //宽度够1200px就显示1200px，不够就100%
    max-width: 120rem;
    min-height: 50rem;
    margin: 8rem auto;
    background-color: var(--color-Grey-light-1);
    //x方向 y方向 模糊度 颜色
    box-shadow: var(--shadow-dark);
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: white;
    border-bottom: 1px solid var(--color-Grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-Grey-dark-1);
    //flex-grow flex-shrink flex-basis
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: white;
    flex-grow: 1;
    //height: 80rem;
}

.detail {
    display: flex;
    padding: 4rem 4rem;
    background-color: var(--color-Grey-light-1);
    border-bottom: 1px solid var(--color-Grey-light-2);
}

.description {
    font-size: 1.4rem;
    background-color: white;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4rem;
}

.user-reviews {
    flex: 1;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}