.footer {
    background-color: $color-secondary;
    grid-column: full-start/full-end;
    padding: 8rem;
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
    align-items: center;
    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        display: block;
        transition: all .5s;
    }
    &__link:hover,
    &__link:active {
        background-color: rgba(white, .5);
        transform: translateY(-3px);
    }
}

.copyright {
    color: $color-grey-light-2;
    font-size: 1.4rem;
    margin-top: 6rem;
    text-align: center;
}