.gallery {
    background-color: $color-grey-light-1;
    grid-column: full-start/full-end;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    gap: 1.5rem;
    padding: 1.5rem;
    &>* {}
    &__img {
        width: 100%;
        height: 100%;
        //使图像占据整个网格 需设置宽和高
        object-fit: cover;
        display: block;
    }
    &__item {
        //overflow: hidden;
        &--1 {
            grid-row: 1/3;
            grid-column: 1/3;
        }
        &--2 {
            grid-row: 1/span 3;
            grid-column: 3/span 3;
        }
        &--3 {
            grid-row: 1/span 2;
            grid-column: 6/7;
        }
        &--4 {
            grid-row: 1/span 2;
            grid-column: 7/-1;
        }
        &--5 {
            grid-row: 3/6;
            grid-column: 1/3;
        }
        &--6 {
            grid-row: 4/6;
            grid-column: 3/5;
        }
        &--7 {
            grid-row: 4/5;
            grid-column: 5/6;
        }
        &--8 {
            grid-row: 3/5;
            grid-column: 6/8;
        }
        &--9 {
            grid-row: 3/6;
            grid-column: 8/9;
        }
        &--10 {
            grid-row: 6/8;
            grid-column: 1/2;
        }
        &--11 {
            grid-row: 6/8;
            grid-column: 8/9;
        }
        &--12 {
            grid-row: 6/8;
            grid-column: 2/4;
        }
        &--13 {
            grid-row: 6/8;
            grid-column: 4/5;
        }
        &--14 {
            grid-row: 5/8;
            grid-column: 5/8;
        }
    }
}